{% extends "base/base.html" %}
{% load static %}
{% block page_title %}Dyninst Dashboard{% endblock %}
{% block css %}
<style>
code {
    color: rgb(0, 123, 255);
    display: inline-block;
    max-width: 1400px;
    padding: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: transparent !important;
  background: none !important;
  border: none !important;
}

/*td.clickable-dyninst, td.clickable-testsuite {
  cursor: pointer !important;
  background-color: yellow !important;
}*/

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0px !important;
}

table>thead>tr>th {
    color: #333 !important;
}
</style>
<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel=stylesheet>
{% endblock %}
{% block content %}

<div class="buildgroup">
<h3 class="buildgroupname">
  <a href="#" class="grouptrigger">
    Dyninst Dashboard{% if tag %}: {{ tag }}{% endif %} {% if owner %} owned by {{ owner }}{% endif %}
  </a>
  <span class="buildnums" align="right">{{ builds.count }}</span><span style="padding-left:50px">
{% for tag in tags %}{% if tag %}<a style="color:white; padding-left:3px" href="{% url 'main:builds_by_tag' tag %}"><span class="badge badge-primary">{{ tag }}</span></a>{% endif %}{% endfor %}</span>
</h3>
<table class="tabb compact table dt-responsive display" id="results_table" width="100%" cellspacing="0" cellpadding="4" border="0">
  <thead>
    <tr class="table-heading">
      <th rowspan="2" class="column-header">
        <span class="glyphicon glyphicon-none"></span>
      </th>
      <th rowspan="2" class="column-header">
        Date
        <span class="glyphicon glyphicon-none"></span>
      </th>
      <th rowspan="2" class="column-header">
        Host
        <span class="glyphicon glyphicon-none"></span>
      </th>
    </tr>
    <tr class="table-heading">
      <th class="column-header" style="">
        Arch
        <span class="glyphicon glyphicon-none"></span>
      </th>
      <th class="column-header">
        Compiler
        <span class="glyphicon glyphicon-chevron-down"></span>
      </th>
      <th class="column-header">
        Dyninst Build
        <span class="glyphicon glyphicon-chevron-down"></span>
      </th>
      <th class="column-header">
        <span class="glyphicon glyphicon-chevron-down"></span>
        Testsuite Build
      </th>
      <th class="column-header">
        Results
        <span class="glyphicon glyphicon-chevron-down"></span>
      </th>
      <th class="column-header">
        Dyninst
        <span class="glyphicon glyphicon-chevron-down"></span>
      </th>
      <th class="column-header">
        Testsuite
        <span class="glyphicon glyphicon-chevron-down"></span>
      </th>
   </tr>   
  </thead>
  <tbody></tbody>
</table>
</div>
</div>

{% endblock %}
{% block scripts %}
<script>

function format_dyninst ( d ) {
    return format_results(d)
}


function format_results ( d ) {
    console.log(d)
    compiler_name = d[10]
    if (d[11]) {
        compiler_name = compiler_name + "@" + d[11]
    }
    if (d[12]) {
        compiler_name = compiler_name + " " + d[12]    
    }
    dyninst_info = d[13] + " " + d[14] + " " + d[15]
    testsuite_info = d[16] + " " + d[17] + " " + d[18]
    

    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td><strong>Compiler:<strong></td>'+
            '<td>'+ compiler_name +'</td>'+
            '<td></td>' +
            '<td><strong>Failed:<strong></td>'+
            '<td>'+ d[19] +'</td>'+
        '</tr>'+
        '<tr>'+
            '<td><strong>Dyninst</strong>:</td>'+
            '<td>'+ dyninst_info +'</td>'+
            '<td style="width:40px"></td>' +
            '<td><strong>Passed:<strong></td>'+
            '<td>'+ d[20] +'</td>'+
        '</tr>'+
        '<tr>'+
            '<td><strong>Testsuite</strong>:</td>'+
            '<td>'+ testsuite_info +'</td>'+
            '<td></td>' +
            '<td><strong>Crashed:<strong></td>'+
            '<td>'+ d[21] +'</td>'+
        '</tr>'+
        '<tr>'+
            '<td></td>'+
            '<td></td>'+
            '<td></td>' +
            '<td><strong>Hanged:<strong></td>'+
            '<td>'+ d[22] +'</td>'+
        '</tr>'+
        '<tr>'+
            '<td></td>'+
            '<td></td>'+
            '<td></td>' +
            '<td><strong>Skipped:<strong></td>'+
            '<td>'+ d[23] +'</td>'+
        '</tr>'+
    '</table>';
}

$(document).ready(function(){
    var table = $("#results_table").dataTable({"order": [[ 3, "asc" ]], "pageLength": 50, "processing": true, "serverSide": true, "ajax": "{% url 'api:internal_apis:results_table' %}{% if tag %}?tag={{ tag }}{% endif %}", "lengthMenu": [[25,50,100,250], [25,50,100,250]],
    columnDefs: [ 
    {className: "dt-control", "targets": 0},
    // Hide the extra metadata that appears in expanded rows
    {"visible": false, "targets": [10,11,12,13,14,15,16,17,18,19,20,21,22,23] },
    {
      targets: [4,5,6],
      createdCell: function (td, cellData, rowData, row, col) {
        if (( cellData === 'OK' ) || (cellData == "PASSED")){
            $(td).css('background-color', '#bfefbf');
        } else if (cellData === 'FAILED') {
            $(td).css('background-color', '#de6868');  
        } else if ((cellData.includes("regressions")) || (cellData.includes("crash"))) {
            $(td).css('background-color', 'burntorange');          
        }
    }
  }]
  });
 
   $("#results_table").prepend('<thead><tr class="table-heading1"><td colspan="3" rowspan="1" class="nob"></td><td colspan="1" rowspan="1" class="center-text"></td><td colspan="3" rowspan="1" class="center-text"></td><td colspan="2" rowspan="1" class="center-text"></td><td class="nob" align="right"></td></tr></thead>')

    $('tbody').on('click', 'td.dt-control', function () {
        console.log('clicked on dyninst')
        var tr = $(this).closest('tr');
        var row = table.api().row(tr);
 
        // Hide the row being shown
        if ( row.child.isShown() ) {
            row.child.hide();
            tr.removeClass('shown');
        }
        // Format and open the row
        else {
            row.child( format_dyninst(row.data()) ).show();
            tr.addClass('shown');
        }
    });

});
</script>
{% endblock %}
